{% extends "basis.html" %}
{% block titel %}Inloggen{% endblock %}
{% block kop %}De Groene M{% endblock %}
{% block sub %}Uren en klussen{% endblock %}
{% block inhoud %}
  <form method="post">
    {% csrf_token %}
    <label for="{{ form.username.id_for_label }}">Gebruikersnaam</label>
    {{ form.username }}
    <label for="{{ form.password.id_for_label }}">Wachtwoord</label>
    {{ form.password }}
    {% if form.errors %}
      <p class="fout">Gebruikersnaam of wachtwoord klopt niet.</p>
    {% endif %}
    <p style="margin-top:1.6rem"><button type="submit" class="knop">Inloggen</button></p>
  </form>
{% endblock %}
