{% extends "basis.html" %}
{% block titel %}Start{% endblock %}
{% block kop %}Hallo {{ user.first_name|default:user.username }}{% endblock %}
{% block sub %}{{ vandaag|date:"l j F Y"|capfirst }}{% endblock %}
{% block inhoud %}
  <div class="tegels">
    {% for tegel in tegels %}
      {% if tegel.url %}
        <a class="tegel" href="{{ tegel.url }}"{% if tegel.extern %} target="_blank" rel="noopener"{% endif %}>
          <span class="teken">{{ tegel.teken }}</span>
          <span class="titel">{{ tegel.titel }}</span>
        </a>
      {% else %}
        <span class="tegel nog-niet">
          <span class="teken">{{ tegel.teken }}</span>
          <span class="titel">{{ tegel.titel }}</span>
        </span>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
